.skills-info {
    margin-top: 70px;
}

.skills-info h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: center;
    max-width: 1100px;
    margin-top: 20px;
    gap: 20px;
}

.skills-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.skills-card h2 {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        max-width: 1100px;
        margin-top: 20px;
        gap: 20px;
    }

    .skills-card img {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}